<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Витрина товаров</title>
</head>

<body>
    <!-- В href ссылка на логин -->
    <a th:if="!${isAuthUser}" th:href="@{/login}" style="float:right; margin-left: 20px;">
        <b>ВХОД&cudarrr;</b>
    </a>
    <!-- В href ссылка на логаут -->
    <a th:if="${isAuthUser}" th:href="@{/logout}" style="float:right; margin-left: 20px;">
        <b><span th:text="${userName}"></span>&cudarrr;</b>
    </a>
    <!-- В href ссылка на страницу заказов -->
    <a th:if="${isAuthUser}" th:href="@{/orders}" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <!-- В href ссылка на корзину -->
    <a th:if="${isAuthUser}" th:href="@{/cart}" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <!-- В href ссылка на главную страницу -->
    <a th:href="@{/main}" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <!-- В src ссылка изображение товара -->
            <img width="300" height="300" th:src="'data:image/jpeg;base64,' + ${item.getImg()}" alt="image">
        </p>
        <p>
            <!-- В text название товара -->
            <b th:text="${item.getName()}"></b>
            <!-- В text цена товара -->
            <b th:text="${item.getPriceView()}" style="text-align:right;"></b>
        </p>
        <p>
            <!-- В text описание товара -->
            <span th:text="${item.getDescription()}"></span>
        </p>
        <!--
		В action ссылка на изменение количества товара в корзине.
		Передается параметр запроса action=[minus|plus]
	    -->
        <form th:if="${isAuthUser}" th:object="${cartAction}" th:action="@{/cart/{itemId}(itemId=${item.getId()})}" method="POST">
            <input id="source" type="hidden" name="source" th:value="${'/items/' + (item.getId())}">
            <button name="action" value="minus">-</button>
            <!-- В text количество товара в корзине -->
            <span th:text="${item.getCartCnt()}"></span>
            <button name="action" value="plus">+</button>
            <!-- В if true, если товар еще не был добавлен в корзину, false, если уже был -->
            <button name="action" value="plus" th:if="${item.getCartCnt()} == null or ${item.getCartCnt()} == 0" style="float:right;">В корзину</button>
            </form>
    </div>
</body>

</html>
